@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link href="C:\Users\Dell\source\repos\signup\signup\Content\bootstrap.css" rel="stylesheet" />

</head>

<body>
<div class="jumbotron">
    <h1>WELCOME</h1>


</div>


</body>
    
</html>
